@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.heading-title {
    color: #0e305d;
    font-weight: 600;
}

i {
    color: darkorange;
    transition: 0.5s color ease;
}

i:hover {
    color: black;
}

a {
    color: black;
    transition: 0.5s color ease;
}

a:hover {
    color: darkorange;
    text-decoration: none;
}

.fa-facebook {
    color: #3b5999;
}

.fa-twitter {
    color: #55acee;
}

.fa-instagram {
    color: #e4405f;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: darkorange;
}

.nav-link {
    font-size: 1.3rem;
    color: white !important;
}

.nav-link:hover {
    color: darkorange !important;
}

.navbar-nav .active .nav-link {
    color: darkorange !important;
}


/* homepage style */

.home-page {
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../img/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-page .data {
    margin: 5rem 0;
}

.small-icons {
    padding: 5rem 0;
}

.icon i {
    font-size: 2.5rem;
}

.initial-concepts .col-md-3:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img1.jpg);
    min-width: 300px;
    max-width: 300px;
    min-height: 220px;
    max-height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 5px;
}

.initial-concepts .col-md-3:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img2.jpg);
    min-width: 300px;
    max-width: 300px;
    min-height: 220px;
    max-height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 5px;
}

.initial-concepts .col-md-3:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img3.jpg);
    min-width: 300px;
    max-width: 300px;
    min-height: 220px;
    max-height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 5px;
}

.video-content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/building.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 30vh;
    color: white;
    margin: 7rem 0;
}

.video-content p {
    text-align: end;
}

.video-content i {
    color: white;
}

.video-content .col-md-6 {
    display: flex;
    align-items: center;
    min-height: 50vh;
}

.chart {
    padding: 7rem 0;
}

.chart .chart-img img {
    width: 30rem;
}

.score-up {
    padding: 7rem 0;
    color: white;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/bussiness.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.testimonials {
    padding: 7rem 0;
}

.testimonials .row .col-md-5 {
    margin-top: 1rem;
}

.testimonials .row .col-md-5 p {
    text-align: center;
    background: rgba(187, 187, 187, 0.3);
    padding: 2rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.testimonials .row .col-md-5 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.company {
    background: rgba(187, 187, 187, 0.3);
    padding: 3rem 0 2rem 0;
}

.company img {
    opacity: 0.3;
    transition: all 0.3s ease;
}

.company img:hover {
    cursor: pointer;
    opacity: 1;
}

.connect-people {
    display: flex;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/bg-25.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.latest-post {
    padding: 7rem 0;
}

.latest-post p {
    color: #0e305d;
}

.latest-post .col-md-2 p {
    color: #000;
    text-align: center;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0.5rem 3rem 0.5rem 1rem;
}

.latest-post .col-md-10 p {
    color: black;
}

.contact-us {
    padding: 7rem 0;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0rem;
    margin: 0;
}

.contact-form textarea {
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
}

.connect-people2 {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/bg-27.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    background: #161b27;
}